body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.cover {
    --theme-color: #004E7A;
    color: #34495e;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    background: linear-gradient(to left bottom, hsl(111, 100%, 85%) 0%,hsl(55, 100%, 85%) 100%);
}

.mask {
    --theme-color: #004E7A;
    color: #34495e;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
}

.cover-main {
    --theme-color: #004E7A;
    color: #34495e;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    flex: 1;
    margin: -20px 16px 0;
    text-align: center;
    position: relative;
}

h1 > span {
    --theme-color: #004E7A;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    letter-spacing: 0;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    color: #34495e;
}

span > small {
    --theme-color: #004E7A;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    text-align: center;
    color: #34495e;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    bottom: -.4375rem;
    font-size: 1rem;
}

blockquote {
    --theme-color: #004E7A;
    color: #34495e;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    font-size: 1.5rem;
    text-align: center;
}

blockquote > p {
    --theme-color: #004E7A;
    color: #34495e;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    letter-spacing: 0;
    font-size: 1.5rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    line-height: 1.5rem;
    margin: 1em 0;
}

.buttons {
    --theme-color: #004E7A;
    color: #34495e;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    line-height: 1.5rem;
    margin: 1em 0;
}

.buttons > a {
    --theme-color: #004E7A;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    text-align: center;
    line-height: 1.5rem;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    border-radius: 2rem;
    border: 1px solid var(--theme-color,#42b983);
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.05rem;
    letter-spacing: .1rem;
    margin: .5rem 1rem;
    padding: .75em 2rem;
    text-decoration: none;
    transition: all .15s ease;
    background-color: var(--theme-color,#42b983);
    color: #fff;
}